<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  
  <h1>Home page</h1>

  <%= link_to 'About', about_path %>

</head>
<body>

  <%= link_to image_tag('mozart.png'), 'http://www.mashrurhossain.com' %>
  <br>
  <% link_to image_tag 'mozart.png' %>
  

</body>
</html>
